.blue-hr hr {
    background-color: #3ADAD9;
    border: none;
    height: 6px;
    width: 65px;
    margin-left: 0;
    border-radius: 6px;
    margin-top: 40px;
}

.orange-hr hr {
    background-color: #FFCA1D;
    border: none;
    height: 6px;
    width: 65px;
    margin-left: 0;
    border-radius: 6px;
    margin-top: 40px;
}