@import url(normalise.css);
@import url(helpers.css);



:root {
    --text--main--color: #575757;
    --heading--main--color: #4A4A4A;
    --heading--blue--color: #2B3377;
}



.header-and-first-page {
    background-image: url(../assets/images/main-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


p {
    font-family: "Nunito";
}



.container {
    width: 1540px;
    height: 100%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 77px;
}

.logo-ic-name {
    display: flex;
    gap: 10px;
}

.logo-ic-name h1 {
    color: #f0f0f0;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 30px;
}

.nav-elements {
    display: flex;
    gap: 40px;
}

.nav-elements a {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 24px;
    line-height: 127%;
    letter-spacing: 2%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all .4s ease;
    display: block;
}

.nav-elements a:hover {
    transform: scale(1.1);
}

.dropdown {
    position: relative;
}

.dropdown-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-items a {
    padding: 12px 16px;
    display: block;
    color: black;
    text-decoration: none;
    font-family: "Roboto";
}

.dropdown-items a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-items {
    display: block;
}



.nav-action {
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: center;
}

.nav-action a {
    text-decoration: none;
    color: #757575;
    font-weight: 600;
    font-size: 24px;
    line-height: 127%;
    font-family: "Roboto";
    transition: all .3s ease;
}

.nav-action a:hover {
    transform: scale(1.1);

}

.nav-action button {
    border: none;
    font-family: "Nunito";
    font-size: 24px;
    line-height: 127%;
    color: #1F1F1F;
    background-color: #FFCA1D;
    width: 171px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease;
}

.nav-action button:hover {
    transform: scale(1.1);
}


/* Welcome section */


.wecome-section {}

.welcome-section__inner {
    display: flex;
    gap: 48px;
}

.welcome-section__inner__left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 190px;
}

.welcome-section__inner__left a {
    font-family: "Nunito";
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 4%;
    background-color: #ffffff;
    text-decoration: none;
    color: #606060;
    border-radius: 10px;
    padding: 11px 34px 11px 8px;
    margin-top: 138px;
}

.welcome-section__inner__left h2 {
    font-family: "Nunito";
    font-weight: 800;
    font-size: 64px;
    line-height: 127%;
    letter-spacing: 2%;
    color: #FFFFFF;
    margin-top: 18px;
}

hr {
    background-color: #3ADAD9;
    border: none;
    height: 6px;
    width: 65px;
    margin-left: 0;
    border-radius: 6px;
    margin-top: 40px;
}

.welcome-section__inner__left p {
    font-weight: 400;
    font-size: 30px;
    line-height: 160%;
    letter-spacing: 2%;
    color: #FFFFFF;
    margin-top: 40px;
}

.welcome-section__inner__left button {
    width: 230px;
    height: 70px;
    border-radius: 10px;
    background-color: #FFCA1D;
    border: none;
    font-family: "Nunito";
    font-weight: 600;
    font-size: 26px;
    line-height: 127%;
    color: #2C2C2C;
    margin-top: 40px;
}


.welcome-section__inner__right {}



/* Partners */


.partners__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 143px;
    padding-bottom: 160px;

}


.partners-left p {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 2%;
    color: var(--text--main--color);
}


.partners-right {
    display: flex;
    gap: 84px;
}


.planning-offers__heading h2 {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 147%;
    letter-spacing: 2%;
    color: var(--heading--main--color);
    margin-bottom: 110px;
}

.planning-offers__heading h2 span {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 147%;
    letter-spacing: 2%;
    color: orange;
}

.planning-offers__inner {
    display: flex;
    gap: 84px;
    justify-content: center;
    align-items: center;
}

.planning-offers__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}


.planning-offers__content h2 {
    color: var(--heading--blue--color);
    font-weight: 700;
    font-size: 24px;
    line-height: 147%;
    letter-spacing: 2%;
    text-align: center;
    margin: 48px auto 28px auto;
}

.planning-offers__content p {
    color: var(--text--main--color);
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 2%;
    text-align: center;
}


/* Feature */

.feature-content-heading h2 {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 147%;
    letter-spacing: 2%;
    color: var(--heading--main--color);
}

.feature-content-heading h2 span {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 147%;
    letter-spacing: 2%;
    color: orange;
}








.feature-section {}

.feature-content-item {
    display: flex;
    gap: 123px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 138px;
}

.feature-content-left p {
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.5%;
    color: var(--text--main--color);
}


.feature-content-left h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 147%;
    letter-spacing: 2%;
    color: var(--heading--main--color);
    text-align: start;
}


.feature-content-right h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 147%;
    letter-spacing: 2%;
    color: var(--heading--main--color);
    text-align: start;
}

.feature-content-right p {
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.5%;
    color: var(--text--main--color);

}

.integrate-heading h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 147%;
    letter-spacing: 2%;
    color: var(--heading--main--color);
    text-align: center;
    margin-bottom: 100px;
}

.integrate-heading h2 span {
    font-weight: 700;
    font-size: 48px;
    line-height: 147%;
    letter-spacing: 2%;
    color: orange;
}

.integrate-tools {
    display: flex;
    gap: 92px;
    justify-content: center;
}

.integrate-btn {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 100px;
    margin-top: 100px; */
}

.integrate-btn button {
    background-color: #FFCA1D;
    color: var(--text--main--color);
    padding: 19px 65px;
    font-weight: 600;
    font-size: 26px;
    line-height: 127%;
    font-family: "Nurito";
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.blue-line {}

.client-testimonals {}

.client-testimonals__main {}

.client-testimonals__footer {}

.client-testimonals__footer__action {}

.footer {}

.footer__1__column {}

.footer__logo-name {}

.footer__social__media {}

.footer__2__column {}

.footer__column__heading {}

.footer__3__column {}

.footer__4__column {}